<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datatype Mapping</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="container">
    <h1 style="color: #00b140;">Datatype Mapping</h1>

    <!-- Source Selection -->
    <label for="source-select">Select Source:</label>
    <select id="source-select">
        <option value="">--Please choose a source--</option>
        {% for source in sources %}
        <option value="{{ source }}">{{ source }}</option>
        {% endfor %}
    </select>

    <!-- Target Selection -->
    <label for="target-select">Select Target:</label>
    <select id="target-select">
        <option value="">--Please choose a target--</option>
        {% for target in targets %}
        <option value="{{ target }}">{{ target }}</option>
        {% endfor %}
    </select>
    <div>
    <label for="use-advanced">
        <input type="checkbox" id="use-advanced" checked> Enable Advanced Parsing
    </label>
    </div>
    <!-- Remapping Options -->
    <div id="remapping-options-container" style="display: {{ 'block' if is_admin else 'none' }}">
        <h3>Remapping Options</h3>
        <p>
            When choosing to remap, the application will go to the latest version of Qlik Replicate Documentation to scrape the information.
            <strong>Normally, using the existing mapping should be good enough as it tends to be updated often.</strong>
        </p>
        <label>
            <input type="radio" name="remapping-option" value="existing" checked>
            Use Existing Mapping
        </label>
        <label>
            <input type="radio" name="remapping-option" value="selected">
            Remap Selected Databases
        </label>
        <label>
            <input type="radio" name="remapping-option" value="all">
            Remap All
        </label>
    </div>


    <!-- Generate Button -->
    <button id="generate-table" class="btn btn-success">Generate Table</button>

    <!-- Progress Bar -->
    <div id="progress-bar-container">
        <div id="progress-bar">
            <div id="progress-bar-fill">0%</div>
        </div>
    </div>

    <!-- Table Container -->
    <div id="table-container"></div>

    <!-- Export to CSV -->
    <button id="export-csv" class="btn btn-success" style="display: none;">Export to CSV</button>

    <!-- Documentation Links -->
    <div id="url-links"></div>
</div>

<script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
